html {
  box-sizing: border-box;
  color: rgba(148, 173, 207);
  font-family: "Shantell Sans", cursive;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  user-select: none;
}
canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  top: 0;
  left: 0;
  z-index: -1;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
  color: inherit;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

textarea {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

::placeholder {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  color: rgba(148, 173, 207);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 100px 0;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 578px;
  min-height: 59px;
  padding: 15px 0 15px 0;
  background: transparent;
  border-radius: 16px;
  border: 1px solid rgba(148, 173, 207);
  transition: 0.2s;
}

.input__form {
  width: 500px;
  min-height: 20px;
  margin: 0 0 0 38px;
  background: transparent;
  border: none;
  resize: none;
  overflow: hidden;
  transition: 0.2s;
}

.input:hover > .input__form {
  min-height: 150px;
}

.input__form:focus {
  min-height: 150px;
}

.input__form:focus::placeholder {
  color: transparent;
}

.input:hover > .input__form::placeholder {
  color: transparent;
}

.input__button {
  width: 25px;
  height: 25px;
  margin: 0 15px 0 0;
  background: transparent;
  border: none;
}

.input-mobile-button {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  left: 6vw;
  top: 6vh;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(148, 173, 207);
  border-radius: 50%;
  background: transparent;
  z-index: 5;
  transition: 0.2s;
}

.input-mobile-button > div:first-child {
  width: 10px;
  border: 1px solid rgba(148, 173, 207);
}

.input-mobile-button > div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  margin: -1px 0 0 -5px;
  border: 1px solid rgba(148, 173, 207);
  transform: rotate(90deg);
}

.burger {
  display: block;
  margin-left: auto;
  position: fixed;
  right: 6vw;
  top: 12.5vh;
  transition: 0.2s;
  width: 40px;
  cursor: pointer;
  z-index: 20;
}

.burger:hover {
  width: 45px;
}

.burger:active {
  width: 40px;
  transition: 0s;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 6vw;
  top: 12.5vh;
  height: 0vh;
  width: 0vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  cursor: default;
  border-radius: 100px;
}

.menu > * {
  display: none;
}

.resetData {
  color: inherit;
  height: 40px;
  width: 150px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.2s;
}

.resetData:hover {
  height: 41px;
  width: 151px;
  box-shadow: 0px 0px 33px 14px rgba(56, 64, 75, 0.85);
}

.resetData:active {
  height: 40px;
  width: 150px;
  box-shadow: none;
  transition: none;
}

.main-wrapp {
  max-width: 1027px;
  margin: 0 auto;
}

.main-wrapp > h1 {
  margin: 52px 0;
  font-size: 28px;
  line-height: 32px;
}

.actual-tasks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 129px;
  row-gap: 52px;
}

.actual-tasks > li {
  position: relative;
  align-self: center;
  max-width: 449px;
  min-height: 59px;
  background: transparent;
  border-radius: 16px;
  border: 1px solid rgba(148, 173, 207);
  cursor: pointer;
  transition: 0.2s;
  word-wrap: break-word;
  white-space: pre-line;
  padding: 20px 45px 20px 45px;
}

.actual-tasks > li:hover {
  box-shadow: -5px 5px 5px rgba(148, 173, 207, 0.7),
    5px -5px 5px rgba(148, 173, 207, 0.7),
    -5px -5px 5px rgba(148, 173, 207, 0.7), 5px 5px 5px rgba(148, 173, 207, 0.7),
    inset 1px 1px 2px rgba(148, 173, 207, 0.7),
    inset -1px -1px 2px rgba(148, 173, 207, 0.7);
  border: 1px solid black;
}

.actual-tasks > li:active {
  box-shadow: -5px 5px 10px rgba(148, 173, 207, 0.2),
    5px -5px 10px rgba(148, 173, 207, 0.2),
    -5px -5px 10px rgba(148, 173, 207, 0.2),
    5px 5px 13px rgba(148, 173, 207, 0.2),
    inset 1px 1px 2px rgba(148, 173, 207, 0.2),
    inset -1px -1px 2px rgba(148, 173, 207, 0.2);
  transition: none;
}

.actual-tasks > li::before {
  display: inline-block;
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 6px;
  top: 6px;
  background-image: url(../img/svg/Ellipse_not_complete.svg);
}

.completed-tasks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 129px;
  row-gap: 52px;
  margin: 0 0 50px 0;
}

.completed-tasks > li {
  position: relative;
  align-self: center;
  max-width: 449px;
  min-height: 59px;
  padding: 20px 45px 20px 45px;
  background: transparent;
  border-radius: 16px;
  border: 1px solid rgba(148, 173, 207);
  cursor: pointer;
  transition: 0.2s;
  word-wrap: break-word;
  white-space: pre-line;
  text-decoration: line-through;
}

.completed-tasks > li:hover {
  box-shadow: -5px 5px 5px rgba(148, 173, 207, 0.7),
    5px -5px 5px rgba(148, 173, 207, 0.7),
    -5px -5px 5px rgba(148, 173, 207, 0.7), 5px 5px 5px rgba(148, 173, 207, 0.7),
    inset 1px 1px 2px rgba(148, 173, 207, 0.7),
    inset -1px -1px 2px rgba(148, 173, 207, 0.7);
  border: 1px solid black;
}

.completed-tasks > li:active {
  box-shadow: -5px 5px 5px rgba(148, 173, 207, 0.2),
    5px -5px 5px rgba(148, 173, 207, 0.2),
    -5px -5px 5px rgba(148, 173, 207, 0.2),
    5px 5px 13px rgba(148, 173, 207, 0.2),
    inset 1px 1px 2px rgba(148, 173, 207, 0.2),
    inset -1px -1px 2px rgba(148, 173, 207, 0.2);
  transition: none;
}

.completed-tasks > li::before {
  display: inline-block;
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 5px;
  top: 5px;
  background-image: url(../img/svg/Ellipse_complete.svg);
}

.close-button {
  position: absolute;
  opacity: 0;
  background-image: url(../img/icons8-close-30.png);
  height: 22px;
  width: 22px;
  background-size: cover;
  right: 5px;
  top: 5px;
}

.actual-tasks > li:hover > .close-button,
.completed-tasks > li:hover > .close-button {
  opacity: 1;
  transition: 0.5s;
}

.clock-cosmic-object__container {
  position: absolute;
  left: 50%;
  top: 45px;
  margin: 0 0 0 -90px;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

@keyframes move {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50px;
    left: 100px;
  }
  50% {
    top: 150px;
    left: 50px;
  }
  75% {
    top: 100px;
    left: -50px;
  }
  100% {
    top: -50px;
    left: -100px;
  }
}

.clock-cosmic-object__container_pos-left-fixed {
  position: fixed;
  left: 9%;
  top: 50%;
  margin: -68px 0 0 0;
  gap: 40px;
  flex-direction: column;
}

.clock-container {
  position: relative;
  min-width: 100px;
  text-align: center;
}

.clock-description {
  display: block;
  margin-bottom: 10px;
}

.clock_text-sun {
  text-shadow: 0 0 2.5px rgb(177 176 43 / 70%), 0 0 5px rgb(179 154 68 / 70%),
    0 0 7.5px rgb(207 205 148 / 70%), 0 0 10px rgb(207 206 148 / 70%),
    0 0 12.5px rgb(211 191 73 / 70%), 0 0 15px rgb(169 167 77 / 70%),
    0 0 17.5px rgb(163 148 58 / 70%);
}
.clock_text-moon {
  text-shadow: 0 0 2.5px rgba(148, 173, 207, 0.7),
    0 0 5px rgba(148, 173, 207, 0.7), 0 0 7.5px rgba(148, 173, 207, 0.7),
    0 0 10px rgba(148, 173, 207, 0.7), 0 0 12.5px rgba(148, 173, 207, 0.7),
    0 0 15px rgba(148, 173, 207, 0.7), 0 0 17.5px rgba(148, 173, 207, 0.7);
}

.cosmic-object {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sun {
  background-color: #e0dc9a;
  animation: sun 2s ease-in-out infinite alternate;
}

.moon {
  background-color: #c2c5cc;
  animation: moon 2s ease-in-out infinite alternate;
}

@keyframes sun {
  from {
    box-shadow: rgb(225 214 161) 0px 0px 10px, rgb(215 172 94) 0px 0px 20px,
      rgb(199 178 27) 0px 0px 30px, rgb(219 200 65) 0px 0px 40px,
      rgb(211 198 48) 0px 0px 50px, rgb(215 190 101) 0px 0px 60px,
      rgb(219 189 70) 0px 0px 70px;
  }
  to {
    box-shadow: rgb(255 255 255) 0px 0px 20px, rgb(129 109 16) 0px 0px 30px,
      rgb(173 154 21) 0px 0px 40px, rgb(117 118 15) 0px 0px 50px,
      rgb(171 159 19) 0px 0px 60px, rgb(112 110 38) 0px 0px 70px,
      rgb(175 129 29) 0px 0px 80px;
  }
}

@keyframes moon {
  from {
    box-shadow: rgb(188 209 217) 0px 0px 10px,
      rgb(148 173 207 / 70%) 0px 0px 10px, rgb(148 173 207 / 70%) 0px 0px 15px,
      rgb(188 209 217) 0px 0px 15px, rgb(188 209 217) 0px 0px 20px,
      rgb(188 209 217) 0px 0px 15px, rgb(188 209 217) 0px 0px 32px;
  }
  to {
    box-shadow: rgb(255 255 255) 0px 0px 10px,
      rgb(148 173 207 / 70%) 0px 0px 25px, rgb(148 173 207 / 70%) 0px 0px 15px,
      #c2c5cc 0px 0px 20px, rgb(188 209 217) 0px 0px 25px, #c2c5cc 0px 0px 30px,
      rgb(148 173 207 / 70%) 0px 0px 45px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.deleted {
  transform: scale(0);
  animation: fadeOut 0.3s;
}

.added {
  animation: scaleIn 0.3s;
}

@media (max-width: 768px) {
  html {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .input__form::placeholder {
    opacity: 0;
  }
  .header-container {
    margin-top: 50px;
  }
  .clock-cosmic-object__container {
    position: fixed;
    left: 9%;
    top: 50%;
    margin: 0px 0 0 0;
  }
  .cosmic-object {
    height: 25px;
    width: 25px;
  }
  .clock-container {
    display: none;
  }
  .input {
    position: fixed;
    top: 10%;
    width: 70%;
    margin: 0 0 0 0;
    z-index: 10;
    transform: scale(0);
  }
  .input:focus-within {
    background: black;
  }
  .input__form {
    width: 100%;
    margin: 0 20px 0 20px;
  }
  .input__button {
    display: none;
  }
  .input-mobile-button {
    display: flex;
  }
  .burger {
    top: 6vh;
    width: 30px;
  }
  .actual-tasks,
  .completed-tasks {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 52px;
    padding: 0 15px 0 15px;
  }
  .actual-tasks > li,
  .completed-tasks > li {
    max-width: 300px;
    min-width: 200px;
    min-height: 1px;
    padding: 10px 31px 10px 31px;
  }
  .actual-tasks > li:hover,
  .completed-tasks > li:hover,
  .actual-tasks > li:active,
  .completed-tasks > li:active {
    box-shadow: none;
    border: 1px solid rgba(148, 173, 207);
  }
  .close-button {
    opacity: 1;
  }
  .main-wrapp > h1 {
    padding-left: 40px;
    font-size: 28px;
    line-height: 32px;
  }
}
